@model SOLOS_Group_Capstone.Models.Resume

@{
    ViewData["Title"] = "CreateResume";
}

<h1>CreateResume</h1>

<h4>Resume</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <button type="submit">Upload</button>
        </form>
   
        <form asp-action="CreateResume">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dev_specialty" class="control-lable"></label>
                <select asp-for="Dev_specialty" class="custom-select">
                    <option value="">Choose Skill Stack</option>
                    <option value="FullStack">Full Stack</option>
                    <option value="FrontEnd">Front End</option>
                    <option value="BackEnd">Back End</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Languages" class="control-label"></label>
                <input asp-for="Languages" class="form-control" />
                <span asp-validation-for="Languages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education_Certificates" class="control-label"></label>
                <input asp-for="Education_Certificates" class="form-control" />
                <span asp-validation-for="Education_Certificates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects" class="control-label">GitHub</label>
                <input asp-for="Projects" class="form-control" placeholder="GitHub link" />
                <span asp-validation-for="Projects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Web_Portfolio" class="control-label"></label>
                <input asp-for="Web_Portfolio" class="form-control" placeholder="Web Portfolio link" />
                <span asp-validation-for="Web_Portfolio" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Resume_Copy" class="control-label"></label>
                <input asp-for="Resume_Copy" class="form-control" />
                <span asp-validation-for="Resume_Copy" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
