@model SOLOS_Group_Capstone.Models.Resume

@{
    ViewData["Title"] = "CreateResume";
}

<h1>CreateResume</h1>

<h4>Resume</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateResume">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dev_specialty" class="control-label"></label>
                <input asp-for="Dev_specialty" class="form-control" />
                <span asp-validation-for="Dev_specialty" class="text-danger"></span>
            </div>

            <select name="number">
                <option value="">Select a number</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>


            @*<asp:DropDownList id="DevType"
                          AutoPostBack="True"
                          OnSelectedIndexChanged="Selection_Change"
                          runat="server">

            <asp:ListItem Selected="True" Value="White"> White </asp:ListItem>
            <asp:ListItem Value="Full-Stack Developer" asp-for="Dev_Specialty"> Full-Stack Developer </asp:ListItem>
            <asp:ListItem Value="Front-End Developer" asp-for="Dev_Specialty"> Front-End Developer </asp:ListItem>
            <asp:ListItem Value="Back-End Developer" asp-for="Dev_Specialty"> Back-End Developer </asp:ListItem>

        </asp:DropDownList>*@

            <div class="form-group">
                <label asp-for="Languages" class="control-label"></label>
                <input asp-for="Languages" class="form-control" />
                <span asp-validation-for="Languages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Education_Certificates" class="control-label"></label>
                <input asp-for="Education_Certificates" class="form-control" />
                <span asp-validation-for="Education_Certificates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Projects" class="control-label">Github</label>
                <input asp-for="Projects" class="form-control" placeholder="Paste link here" />
                <span asp-validation-for="Projects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Web_Portfolio" class="control-label"></label>
                <input asp-for="Web_Portfolio" class="form-control" />
                <span asp-validation-for="Web_Portfolio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resume_Copy" class="control-label"></label>
                <input asp-for="Resume_Copy" class="form-control" />
                <span asp-validation-for="Resume_Copy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
